@charset "UTF-8";
html {
    overflow: hidden;
}

#body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
.section {
    width: 100%;
    min-width: 100rem;
    height: 100%;
}

#section1 {
    background-image: url(/resources/img/main1.jpg);
    background-size:100%;
    display:flex;
    justify-items: center;
    align-items: center;
}
#section2 {
    background-image: url(/resources/img/main3.jpg);
    background-size:100%;
}

#section1_detail{
    width:100%;
}

#section3 {
    background-color: aliceblue;
}
.section2-box{
	position:relative;
    display:inline-block;
}
@keyframes mainTitleAni{
    0%{
        transform: translateY(45px);
    }
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.mainTitle{
	font-family:gs-Bold;
	width:100%;
	display: flex;
	justify-content: right;
	overflow: hidden;
}
.mainTitle>a{
	transform: translateY(45px);
	animation-name: mainTitleAni;
	animation-duration: 15s;
	animation-fill-mode:forwards;
	margin-right:350px;
	font-size: 40px;
	font-weight: 800;
	color: #fff;
	text-decoration: none;
}
.section2Content{
	width:100vw;
	height:100vh;
	background-color: rgba(0,0,0,0.2);
	display:flex;
	justify-content: center;
	align-items: center;
}
.section2Content>div{
	width:570px;
	height:330px;
	border-radius: 30px;
	background-color: rgba(255,255,255,0.9);
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-content:center;
	box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, 0.5);
}
.mbtiTitle{
	text-align:center;
	font-family: gs-Bold;
	/*padding-top:20px;*/
	/*color: #DE4B3F;*/
	font-size:24px;
	font-weight:900;
}
#mbtiBtn {
	display:block;
	width:140px;
	height: 50px;
	text-decoration:none;
	background-color: #DE4B3F;
	border-radius:20px;
	text-align:center;
	line-height:53px;
	color:white;
	margin:0 auto;
	margin-bottom:20px;
	font-family: gs-Medium;
}

<!-- 세션3 -->
.section3Content{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.section3Content>div{
	display:flex;
	width:50%;
	height:50%;
}


/* 푸터 부분 */
footer {
    width: 100%;
    min-width: 1000px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    text-decoration: none;
    font-family:gs-Medium;
}

footer p {
	margin-bottom : 10px;
}

footer > .footer-title {
	margin : 0 auto;
    width: 1000px;
    line-height: 50px;
}

footer > .footer-content {
	margin : 0 auto;
    width: 1000px;
    height : 100px;
}

.managerMenu{
	width:120px;
}

.managerMenu li:not(:first-child){
	display:none;
	height:40px;
	line-height:40px;
}

.header li{
	width:120px;
}
.header li a{
	height:80px;
}

.1>li{
	font-family:gs-Medium;
	font-size: 15px;
	background-color: #1abc9c;
	height:80px;
	width:100px;
}
