@charset "UTF-8";
html {
    overflow: hidden;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
.section {
    width: 100%;
    min-width: 100rem;
    height: 100%;
}

#section1 {
    background-image: url(/resources/img/main1.jpg);
    background-size:100%;
    display:flex;
    justify-items: center;
    align-items: center;
}
#section2 {
    background-image: url(/resources/img/main3.jpg);
    background-size:100%;
}

#section1_detail{
    width:100%;
}

#section3 {
    background-color: aliceblue;
}
.section2-box{
	position:relative;
    display:inline-block;
}
@keyframes mainTitleAni{
    0%{
        transform: translateY(45px);
    }
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.mainTitle{
	font-family:gs-Bold;
	width:100%;
	display: flex;
	justify-content: right;
	overflow: hidden;
}
.mainTitle>a{
	transform: translateY(45px);
	animation-name: mainTitleAni;
	animation-duration: 15s;
	animation-fill-mode:forwards;
	margin-right:350px;
	font-size: 40px;
	font-weight: 800;
	color: #fff;
	text-decoration: none;
}
.section2Content{
	padding-top:45px;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.2);
	display:flex;
	justify-content: center;
	align-items: center;
}
.section2Content>div{
	width:35%;
	height:70%;
	border-radius: 30px;
	background-color: rgba(255,255,255,0.9);
	display:flex;
	justify-content: center;
	box-shadow: 12px 12px 2px 5px rgba(0, 0, 0, 0.5);
}
.mbtiTitle{
	font-family: gs-Bold;
	padding-top:20px;
	color: #DE4B3F;
	font-size:30px;
	font-weight:900;
}

<!-- 세션3 -->
.section3Content{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.section3Content>div{
	display:flex;
	width:50%;
	height:50%;
}
