.attendList-header{
	margin-top: 20px;
}

.scheduledList-header, .proceededList-header{
	margin-top: 50px;
}

.attendList{
	width: 815px;
	height: 257px;
	overflow: auto;
}

.attendList>table{
	width: 800px;
    table-layout: fixed;
    border-collapse: collapse;
}

.attendList>table tr:nth-child(1){
	border-top: 1px solid #e1e1e1;;
}

.attendList>table tr{
	border-bottom: 1px solid #e1e1e1;;
}

.attendList>table th{
	height: 50px;
    font-size: 16px;
    color: #fff;
	background-color: #1abc9c;
}

.attendList>table th:nth-child(1){
	width: 45%;
}

.attendList>table th:nth-child(2){
	width: 30%;
}

.attendList>table th:nth-child(3){
	width: 25%%;
}

.attendList>table td{
	height: 40px;
	font-family: gs-Light;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	
	padding-left: 15px;
	padding-right: 15px;
}

.attendList-content table td>a{
	color: black;
	text-decoration: none;
}

.attendList-content table td>a:hover{
	color: #1abc9c;
}

.attendList-content table td>a:visited{
	color: black;
}

.attendList-content table td>a:visited:hover{
	color: #1abc9c;
}

.proceededList{
	margin-bottom: 100px;
}

.scheduledList>p, .proceededList>p{
	font-size: 24px;
}