.attend-meet{
	padding-top:15px;
}

.past-meet, .fail-meet{
	margin-top: 50px;
}

.mateList>h1{
    margin: 0;
}

.mateList>table{
	border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
}

.mateList>table th, .mateList>table td{
	text-align: center;
	border: 1px solid black;
}

.mateList>table th{
	background-color: #1abc9c;
}

.mateList>table td{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}