.all-meet{
	padding-top: 20px;
}

.attend-meet, .past-meet, .fail-meet{
	margin-top: 50px;
}

.mateList>h1{
    margin: 0;
}

.mateList>table{
	border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
}

.mateList>table th, .mateList>table td{
	text-align: center;
	border: 1px solid black;
}

.mateList>table th{
	background-color: #1abc9c;
}

.mateList table th:nth-child(1){
	width: 300px;
}

.mateList table th:nth-child(2){
	width: 200px;
}

.mateList table th:nth-child(3){
	width: 150px;
}

.mateList table th:nth-child(4){
	width: 150px;
}

.mateList>table td{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	padding-left: 25px;
	padding-right: 25px;
}