.content{
	width: 800px;
	margin: 0 auto;
}

.content>.meet{
	margin-top: 50px;
}

.meet>h1{
    margin: 0;
}

.meet>table{
	border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
}

.meet>table th, .meet>table td{
	text-align: center;
	border: 1px solid black;
}

.meet>table th{
	background-color: #1abc9c;
}

.meet>table td{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}