.dogprofile {
    position: relative;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.dogprofile > h1 {
   position: absolute;
   top: 20px;
   left: 0;
}

.dogprofile #addDog {
    position: absolute;
    top: 40px;
    right: 0;
}

.dogprofile .wrap {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
}

.dogprofile .box {
    width: 180px;
    height: 180px;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 5px 10px 0 rgba(77, 79, 109, 0.37);
    display: inline-block;
}

.dogprofile .box a {
    display: block;
    text-decoration: none;
    color:black
}

.dogprofile .box .photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.dogprofile .box .photo img {
    max-width: 100%;
    border-radius: 20px;
}

.dogprofile .box h3 {
    margin: 5px 0 0 0;
}

/* 모달창 */
.modal-wrapper{
	position : fixed;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	display:none;
	justify-content:center;
	align-items:center;
	background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index:9999;
}

.modal{
	width:350px;
	/* height:150px; */
	background-color:#fff;
	z-index: 100;
	backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 21px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: white;
}

.modal-header{
	padding:10px;
	text-align : right;
	/*color : #1abc9c;*/
}

.modal-content{
	padding: 0px 20px 40px 20px;
	text-align : center;
}