@charset "UTF-8";

input::placeholder {
  font-family : gs-Medium;
}
textarea::placeholder {
  font-family : gs-Medium;
}

input, button, #photoBtn {
	font-family:gs-Medium;
	outline:none;
}

/* 내 정보 */
.myprofile {
    position: relative;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.myprofile > h1 {
   position: absolute;
   top: 20px;
   left: 0;
}

/* 프로필 사진 영역 */
.myprofile #photo-section {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 0;
    /* background-color: rebeccapurple; */
}

.myprofile #photo-section #photoBtn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.myprofile .photo-box {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 100%;
    overflow: hidden;
}

.myprofile .photo-box > img {
    max-width: 100%;
}

.myprofile .photo-box > label {
	display:block;
}

.myprofile #photoBtn {
	background-color:#1abc9c;
	color:white;
	border:none;
	height:22px;
	width:60px;
	border-radius:5px;
	line-height:25px;
}


/* 프로필 정보 영역 */
.myprofile #info-section {
    width: 650px;
    position: absolute;
    top: 90px;
    right: 0;
    /* background-color: green; */
}

.myprofile .box {
    height: 40px;
    margin-bottom: 15px;
}

.myprofile .box > label {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 14px;
}

.myprofile .box > label > span {
	color: red;
}

.myprofile .box > .input {
    width: 230px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}

.myprofile #changeBtn, 
.myprofile #addr-btn {
	background-color:#1abc9c;
	color:white;
	border:none;
	height:22px;
	width:60px;
	border-radius:5px;
	line-height:25px;
}

/* 자기소개 및 버튼 영역 */

.myprofile #last-section {
    width: 650px;
    position: absolute;
    top: 330px;
    left: 0;
    /* background-color: rebeccapurple; */
}

.myprofile .intro-box{
    height: 50px;
    margin-bottom: 50px;
}

.myprofile .intro-box > label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.myprofile .intro-box > textarea {
    border: 1px solid #ccc;
    width: 650px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    resize: none;
    padding: 10px;
	font-family:gs-Medium;
}

.myprofile .btn {
    width: 300px;
    height: 45px;
    margin-top: 30px;
    border: none;
    background-color: #1abc9c;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.myprofile .comment {
    font-size: 12px;
    color: red;
    padding: 5px;
}

.myprofile #nameComment {
	display:inline-block;
}

.myprofile #phoneComment {
	display:block;
}

.myprofile .verifyBox {
	width:300px;
	height:30px;
	margin:0 auto;
}

.myprofile .verifyInput {
	width:100px;
}

.myprofile #timeZone {
	display:inline-block;
	width: 70px;
}

.myprofile .verifyMsg {
	margin:5px 0;
	display:block;
}

.myprofile .btn-box {
    text-align: center;
}

.myprofile .link-box {
	width:670px;
    text-align: right;
    margin-top: 20px;
}

.myprofile .link-box > a {
    font-size: 12px;
    text-decoration: none;
    color: #616568;
}

.myprofile .link-box > a:hover {
    text-decoration: underline;
}



/* 전화번호 모달창 */

.myprofile .modal-wrapper{
	position : fixed;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	display:none;
	justify-content:center;
	align-items:center;
	background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index:9999;
}

.myprofile .modal{
	width:350px;
	height:150px;
	background-color:#fff;
	z-index: 100;
	backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 21px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: white;
}

.myprofile .modal-header{
	padding:10px;
	text-align : right;
	/*color : #1abc9c;*/
}

.myprofile .modal-content{
	padding: 10px 20px 40px 20px;
	text-align : center;
}

#newPhone {
	height:18px;
}

.myprofile .modal-content #sendBtn {
	background-color:#1abc9c;
	color:white;
	border:none;
	height:22px;
	width:80px;
	border-radius:5px;
	line-height:25px;
}

.myprofile .modal-content #verifyBtn,
.myprofile .modal-content #changePhoneBtn {
	background-color:#1abc9c;
	color:white;
	border:none;
	height:22px;
	width:60px;
	border-radius:5px;
	line-height:25px;
}

.myprofile #closeModalBtn {
	background-color:white;
	color:black;
	border:none;
	height:22px;
	width:40px;
	border-radius:5px;
	line-height:25px;
	font-size:18px;
}