.sendDm {
    width: 100%;
}

.sendDm > h1 {
	margin-top:20px;
}

.sendDm > .dmWrap {
	width: 100%;
	margin:0px auto;
	margin-bottom:30px;
}

.sendDm > .dmWrap > .dmCateWrap {
	width: 100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-top:10px;
}

.sendDm > .dmWrap #sendDmCate,
.sendDm > .dmWrap #sendDmSearch{
	display:inline-block;
	height:30px;
	font-size: 16px;
	font-family:gs-Medium;
	outline: none;
	margin-bottom:5px;
}

.sendDm > .dmWrap #sendDmKeyword {
	padding-left:3px;
}

.sendDm > .dmWrap #sendDmSearchBtn{
	display:inline-block;
    margin: 0 auto;
	margin-bottom:5px;
	background-color:#1abc9c;
	color:white;
	border:none;
	height:30px;
	width:40px;
	border-radius:5px;
	line-height:27px;
}

.sendDm > .dmWrap #sendDmKeyword {
	width:180px;
	height:26px;
	font-size: 16px;
	font-family:gs-Medium;
	outline: none;
}

.sendDm > .dmWrap table{
	margin : 0 auto;
	text-align : center;
    border-spacing: 0;
}

.sendDm > .dmWrap table tr {
	height: 40px;
}

.sendDm > .dmWrap table tr > th {
	height: 30px;
    padding: 5px 0;
	border-top:2px solid #1abc9c;
	border-bottom:2px solid #1abc9c;
}

.sendDm > .dmWrap table tr td {
	width : 10%;
	border-bottom:1px solid #ccc;
}

.sendDm > .dmWrap table tr td:first-child{
	width : 7%;
}

.sendDm > .dmWrap table tr td:nth-child(3){
	width : 40%;
	text-align : left;
	padding-left:10px;
}

.sendDm > .dmWrap table tr td .contentDiv {
	width:380px;
	padding:0 5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.sendDm > .dmWrap table tr td .receiverDiv {
	width:150px;
	padding:0 5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.sendDm > .dmWrap table tr td .contentDiv > a {
	display:block;
}
.sendDm > .dmWrap table tr td .contentDiv > a:hover {
	text-decoration:underline;
}

/* 페이징 */
.sendDm .dmPageNavi{
    margin:30px;
}
.sendDm .dm-pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sendDm .dm-pagination > li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
.sendDm .dm-pagination > li.dm-page-next,
.sendDm .dm-pagination > li.dm-page-prev {
	width: 60px;
	margin: 0 5px;
}
.sendDm .dm-pagination > li > a.dm-page-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.sendDm .dm-pagination .dm-page-item.active-page {
  color:#1abc9c;
}

/* 모달창 */
.sendDm .modal-wrapper{
	display:flex;
	align-items:center;
	justify-content:center;
	position : fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	display:none;
    z-index:9999;
	background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.sendDm .modal{
	width:400px;
	/* height:150px; */
	background-color:#fff;
	z-index: 100;
	backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: white;
	max-height: 95%;
	overflow-y: auto;
}

.sendDm .modal::-webkit-scrollbar{
  display:none;
}

.sendDm .modal-header{
	padding:10px;
	padding-bottom:0px;
	text-align : right;
}

.sendDm .modal-header > h3 {
	text-align : center;
}

.sendDm .modal-content{
	padding: 0px 20px 20px 20px;
	text-align : left;
	color:#ccc;
}

.sendDm .modal-content span {
	color:black;
}

.sendDm .modal-content .dmContentDiv {
	width:340px;
	border :1px solid #ccc;
	min-height:100px;
	padding : 10px;
}

.sendDm #closeModalBtn {
	background-color:white;
	color:black;
	border:none;
	height:22px;
	width:40px;
	border-radius:5px;
	line-height:25px;
	font-size:25px;
}

.swal2-container {
  z-index:100000;
}