.report-list-header{
	margin-top: 20px;
}

.report-list-header>h1{
	margin: 0px;
}

.report-list-table{
	width: 815px;
	height: 501px;
	overflow: auto;
}

.report-list-table table{
	width: 800px;
    table-layout: fixed;
    
    border: 1px solid black;
    border-collapse: collapse;
}

.report-list-table table tr{
	border: 1px solid black;
}

.report-list-table table th{
	background-color: #1abc9c;
}

.report-list-table table th:nth-child(1){
	width: 18%;
}

.report-list-table table th:nth-child(2){
	width: 18%;
}

.report-list-table table th:nth-child(3){
	width: 40%;
}

.report-list-table table th:nth-child(4){
	width: 24%;
}

.report-list-table table td{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	
	padding-left: 15px;
	padding-right: 15px;
}

.report-one a{
	color: black;
	text-decoration: none;
}

.report-one a:hover{
	color: #1abc9c;
}

.report-one a:visited{
	color: black;
}

.report-one a:visited:hover{
	color: #1abc9c;
}