.report-list-header{
	margin-top: 20px;
}

.report-list-header>h1{
	margin: 0px;
}

.report-list-table{
	width: 815px;
	height: 466px;
	margin-top: 50px;
	overflow: auto;
}

.report-list-table table{
	width: 800px;
    table-layout: fixed;
    
    border-collapse: collapse;
}

.report-list-table table tr:nth-child(1){
	border-top: 1px solid #e1e1e1;
}

.report-list-table table tr{
	border-bottom: 1px solid #e1e1e1;
}

.report-list-table table th{
	height: 50px;
    font-size: 16px;
    color: #fff;
	background-color: #1abc9c;
}

.report-list-table table th:nth-child(1){
	width: 18%;
}

.report-list-table table th:nth-child(2){
	width: 18%;
}

.report-list-table table th:nth-child(3){
	width: 40%;
}

.report-list-table table th:nth-child(4){
	width: 24%;
}

.report-list-table table td{
	height: 40px;
	font-family: gs-Light;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	
	padding-left: 15px;
	padding-right: 15px;
}

.report-one a{
	color: black;
	text-decoration: none;
}

.report-one a:hover{
	color: #1abc9c;
}

.report-one a:visited{
	color: black;
}

.report-one a:visited:hover{
	color: #1abc9c;
}