.report-list-header{
	margin-top: 20px;
}

.report-list-header>h1{
	margin: 0px;
}

.report-list-table{
	width: 800px;
}

.report-list-table table{
    table-layout: fixed;
    border-collapse: collapse;
}

.report-list-table table tr{
	width: 800px;
	border: 1px solid black;
}

.report-list-table table th{
	background-color: #1abc9c;
}

.report-list-table table th:nth-child(1){
	width: 150px;
}

.report-list-table table th:nth-child(2){
	width: 150px;
}

.report-list-table table th:nth-child(3){
	width: 300px;
}

.report-list-table table th:nth-child(4){
	width: 200px;
}

.report-list-table table td{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	
	padding-left: 25px;
	padding-right: 25px;
}