.one-review-header{
	width: 400px;
	overflow:auto; 
}

.one-review-header>h2{
	float: left;
}

.one-review-header>p{
	float: right;
}

.one-review-info>table{
	width: 200px;
	border-collapse: collapse;
}

.one-review-info>hr{
	width: 400px;
	margin-top:10px;
	margin-bottom: 10px;
}

.one-review-info{
	margin-top:10px;
}

.one-review-content{
	width: 400px;
	height: 200px;
	border: 1px solid black;
}

.button-box{
	width: 400px;
	margin-top: 15px;
	display: flex;
	justify-content: flex-end;
}

.button-box>button{
	background-color: #1abc9c;
	border: 1px solid black;
	width: 100px;
	height: 27px;
	font-weight: bold;	
}

#review-modify-btn{
	margin-right: 15px;
}