.review-list-content{
	margin-top: 15px;
}

.review-list-content>table{
	width: 700px;
	border-collapse: collapse;
}

.review-list-content>table tr{
	border: 1px solid black;
}

.review-list-content>table th{
	background-color: #1abc9c;
}

.review-list-content>table th:nth-child(1){
	width: 150px;
}

.review-list-content>table th:nth-child(2){
	width: 275px;
}

.review-list-content>table th:nth-child(3){
	width: 200px;
}

.review-list-content>table th:nth-child(4){
	width: 75px;
}

.review-list-content>table td{
	text-align: center;
}

.review-write-frm{
	margin-top: 50px;
}

.review-title{
	margin-top: 15px;
	display: flex;
}

.review-title>h2{
	width: 75px;
}

.review-title>input{
	display: block;
	width: 321px;
	font-size: 16px;
}

.review-content{
	margin-top: 10px;
	width: 400px;
	height: 200px;
}

.review-content>textarea{
	resize: none;
	font-size: 16px;
	width: 398px;
	height: 198px;
}

.review-write-btn-box{
	margin-top: 15px;
	width: 400px;
	text-align: right;
}

.review-write-btn-box>button{
	background-color: #1abc9c;
	border: 1px solid black;
	width: 100px;
	height: 27px;
	font-weight: bold;
}