::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
	background-color:#DDD7CB;
	border-radius:10px;
}

*{
    font-family: gs-Light;
}
content{
    width: 1200px;
    margin: 0 auto;
}
.dogMarket-wrap{
    margin: 0 auto;
    margin-top: 200px;
    padding: 0;
    
}
.tab-header{
    width: 500px;
    margin: 0 auto;
    padding: 0;
}
.dogMarket-tab{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.dogMarket-tab>li{
    float: left;
    border-bottom: 2px solid #e1e1e1;
    width: 250px;
    height: 80px;
    text-align: center;
}
.faqqna-tab>li:first-child{
    border-bottom: 2px solid #1abc9c;
}
.faqqna-tab>li:hover{
    border-bottom: 2px solid #1abc9c;
    cursor: pointer;
}
.dogMarket-tab h1{
    font-family: gs-Medium;
}
.dogMarket-tab a{
    font-family: gs-Medium;
}
.getDog-content{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    width: 1000px;
}
.getDog-header{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    overflow: hidden;
}
.getDog-header>p{
    display: block;
    text-align: center;
    font-family: gs-Medium;
}
.getDog-header>p:first-child{
	margin-top:40px;
}
.getDog-category{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    float: center;
    display: flex;
    justify-content:center;
    overflow: hidden;
}
.getDog-category>li{
    margin: 0 auto;
    padding: 0;
    border: 1px solid #1abc9c;
    float: left;
    width: 140px;
    padding: 8px;
    border-radius: 10px;
    font-family: gs-Medium;
}
.getDog-category>li:first-child{
    background-color: #1abc9c;
    color: #fff;
}
.getDog-category>li:hover{
    cursor: pointer;
    background-color: #1abc9c;
    color: #fff;
}
.saleList{
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    border-top: 2px solid #1abc9c;
}

.sale-wrap{
	display:flex;
	justify-content:space-evenly;
	flex-flow: wrap;
	
}
.sale-box{
    padding: 24px;
    padding-top: 10px;
}

.sale{
	cursor:pointer;
	border-radius:5%;
	display: flex;
	flex-direction:column;
	align-items:center;
	margin:10px;
	height: 300px;
	width: 250px;
	border:2px solid #ccc;
	background-color: #fff;
	box-shadow: 1px 3px 2px 0 rgba( 31, 38, 135, 0.37 );
}
.list-sub-title{
	font-family:gs-Medium;
	margin-top:5px;
	margin-bottom:5px;
	font-size:15px;
	color: red;
}
.sale li{
	font-size:15px;
	font-family:gs-Medium;
}

.add-btn{
    margin: 0 auto;
    padding: 30px;
    width: 100%;
    text-align: center;
}
.add-btn>button{
    border: none;
    background-color: transparent;
    font-family: gs-Medium;
    font-size: 16px;
}

/* 문의게시판 start */

.saleDog-content{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    width: 1000px;
    overflow: hidden;
}
.saleDog-header{
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    overflow: hidden;
}
.saleDog-header>p{
    padding-left: 15px;
    text-align: center;
    font-family: gs-Light;
    animation-name:dogMarketAni;
    animation-duration:10s;
}
.write-btn-box{
    margin-top: 5px;
}
.write-btn-box>button{
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    background-color: #1abc9c;
    color: #fff;
    font-family: gs-Medium;
    font-size: large;
}
.saleDog-board{
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
    width: 100%;
}
.saleDog-table{
	text-align:center;
    width: 100%;
    height: 50px;
    border-top: 2px solid #1e1e1e;
    border-bottom: 2px solid #1e1e1e;
}
.saleDog-table td{
	tab
}

/* 슬롯머신 */
@keyframes slide {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: -50px;
  }
  20% {
    margin-top: -100px;
  }
  30% {
    margin-top: -150px;
  }
  40% {
    margin-top: -200px;
  }
  50% {
    margin-top: -250px;
  }
  60% {
    margin-top: -300px;
  }
  70% {
    margin-top: -350px;
  }
  80% {
    margin-top: -400px;
  }
  90% {
    margin-top: -450px;
  }
  100% {
    margin-top: -500px;
  }
}

.slide_box{
  width: 300px;
  height: 50px*5;
  animation: slide 40s infinite;
  color: black;
}
.slide_box p {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: gs-Light;
}
.container {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
}

.test{
	height:50px;
	overflow:hidden;
}

.photo-session{
	margin-top:5px;
	margin-bottom:5px;
	border-radius:5%;
	height:80%;
	width:95%;
	background-color: #fff;
	overflow:hidden;
	position:relative;
	box-shadow: 0 1px 1px 0 rgba( 31, 38, 135, 0.37 );
}

/*모달*/
#modal-wrap{
	display:flex;
	justify-content:center;
	align-items:center;
	position: fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100vw;
	z-index:9999;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(1.5px);
}
#write-modal-wrap{
	display:flex;
	justify-content:center;
	align-items:center;
	position: fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100vw;
	z-index:9999;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(1.5px);
}

.modal-content{
	overflow:scroll;
	overflow-x:hidden;
	padding:50px;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	border-radius: 8px;
	height:70%;
	width:50%;
	background-color: #fff;
}
.detail-box-title{
	margin-bottom:10px;
	text-align:center;
	font-family: gs-Bold;
	font-size: 30px;
}
.detail-box-title+pre{
	margin:0 auto;
	white-space:pre-line;
	text-align:center;
	line-height:30px;
	width:500px;
}

.detail-table-subtitle{
	margin-top:10px;
	margin-bottom:10px;
	font-family:gs-Medium;
	text-align: center;
	font-size: 20px;
}

.detail-info{
	display:flex;
	justify-content: center;
	width:700px;
	margin:0 auto;
}
.detail-info-table{
	border:1px solid lightgray;
}
.detail-info-table td{
	box-sizing:border-box;
	text-align:center;
	border:1px solid lightgray;
	width:250px;
	height:30px;
	line-height: 30px;
}
.detail-info-table th{
	width:100px;
}

.photo-session-wrap{
	display:flex;
	justify-content:space-between;
	margin:0 auto;
	margin-top:10px;
	width:700px;
	height:400px;
}
.photo-session-wrap div{
	border:1px solid gray;
	width:calc(100%/2);
	padding: 10px;
	position:relative;
	overflow:hidden;
	
}
.photo-session-wrap div img{
	width:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
.market-middle-img{
	position:relative;
	margin:0 auto;
	margin-top:10px;
	width:700px;
	height:110px;
	background-image: url("/resources/img/market/market_img1.png");
	background-repeat: no-repeat;
}
.market-middle-img>span:first-child{
	font-family:gs-Bold;
	color: #DE4B3F;
	font-size:20px;
	position:absolute;
	top:10px;
	left:80px;
}
.market-middle-img>span:nth-child(2){
	font-family:gs-Medium;
	color: black;
	font-size:15px;
	position:absolute;
	top:40px;
	left:80px;
}
.market-middle-img>span:nth-child(3){
	font-family:gs-Medium;
	color: black;
	font-size:15px;
	position:absolute;
	top:60px;
	left:80px;
}
.market-middle-img>span:nth-child(4){
	font-family:gs-Medium;
	color: black;
	font-size:15px;
	position:absolute;
	top:80px;
	left:80px;
}
.require-btn{
	margin:0 auto;
	text-align:center;
	line-height:100px;
	width:700px;
	height:100px;
}
.require-btn button:hover{
	cursor: pointer;
}
.require-btn button:nth-child(2){
	margin-left: 10px;
	margin-right: 10px;
}
.require-btn button{
	font-family:gs-Medium;
	font-size:15px;
	width: 200px;
	height: 50px;
	color:#fff;
	background-color: #1abc9c;
	border:none;
	border-radius: 10px;
}

.market-list-title{
	width:850px;
	height:100px;
	margin:0 auto;
	margin-top:10px;
	text-align: center;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.market-list-title>div{
	font-family:gs-Medium;
	font-size:25px;
	width:900px;
	height: 50px;
	line-height:50px;
}
.market-list-title>button{
	width: 100px;
	height: 30px;
	border: none;
	background-color:#1abc9c;
	color:#fff;	
	cursor: pointer;
	align-self: end;
}

.previewImg{
	width:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
