@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    font-family: gs-Medium;
}
input, select, button{
	font-family: gs-Medium;
}

.page-content{
    height: auto;
    display: flex;
    position: relative;
    margin-bottom: 80px;
    flex-grow:1;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
   background-color:#DDD7CB;
   border-radius:10px;
}
.walk-mate-content{
    text-align: center;
    margin: 0 auto;
    margin-top:100px;
}
#content-top{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    position: relative;
}

#content-middle{
    width: 1200px;
    margin: 30px auto;
    position: relative;
}

.content-top-button {
	width:600px;
	margin: 0 auto;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.content-top-button-left{
	display:inline-block;
    width: 250px;
    height: 80px;
    line-height: 60px;
    border-bottom: 2px solid #e1e1e1;
    margin-top: 20px;
    font-weight: 900;
    font-size:32px;
}
.content-top-button-right{
	display:inline-block;
    width: 250px;
    height: 80px;
    line-height: 60px;
	border-bottom: 2px solid #1abc9c;
	font-weight: 900;
    margin-top: 20px;
    font-size:32px;
}
.content-top-button-left:hover{
    /*
    border-bottom: 2px solid #1abc9c;
    */
    cursor: pointer;
}

.content-top-button-right:hover{
    border-bottom: 2px solid #1abc9c;
    cursor: pointer;
}

#content-middle>.content-middle-title{
    font-size: 27px;
    font-weight: bold;
    margin-bottom:10px;
}

#content-bottom{
    width: 1200px;
    /* height: 700px; */
    margin: 0 auto;
    position: relative;
    flex-grow:1;
}

#content-box {
	width:800px;
	margin: 0 auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#noLogin {
	width:800px;
	height:200px;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
}

#mbtiMainPhoto {
	width:400px;
	margin-bottom:20px;
}

#mbtiMainPhoto img {
	max-width:100%;
}

/* 강아지 선택 */
#chooseDog {
	margin-top:30px;
}

#chooseDog .box {
    width: 180px;
    height: 190px;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 5px 10px 0 rgba(77, 79, 109, 0.37);
    display: inline-block;
}

#chooseDog .box a {
    display: block;
    text-decoration: none;
    color:black
}

#chooseDog .box .photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow:hidden;
    border-radius: 20px;
    position:relative;
}

#chooseDog .box .photo img {
    max-width: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#chooseDog .box h3 {
    margin: 5px 0 0 0;
}

#chooseDog .box span {
	font-size:14px;
	color: #ee862c;
}


/* 테스트 문제 창 */
.mbti-box{
	width:360px;
	min-height:560px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-top:30px;
}
.mbti-box #mbti-title {
	margin-bottom:30px;
}

.mbti-box #mbti-count {
	font-size: 12px;
	color:#ccc;
}

.mbti-box #mbti-count,
.mbti-box #mbti-que {
	margin-bottom:30px;
}

.mbti-box #mbti-img {
	width:200px;
	margin-bottom:30px;
}

.mbti-box #mbti-img img {
	max-width:100%;
} 

.mbti-box .mbti-btn {
	width:320px;
	padding :18px 6px;
	margin-bottom:20px;
	background-color: #f1f1f1;
	border:none;
	border-radius:10px;
}

.mbti-box .mbti-btn:hover {
	background-color: #f5d665;
}

.mbti-box .mbti-nickname {
	color:#ee862c;
}

.mbti-box .mbti-dogname {
	color:#c77be6;
}

/* 테스트 결과창 */
#mbti-result {
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-top:30px;
}

.mbti-result-box {
    width: 100%;
    margin-bottom:20px;
}

.mbti-result-box p {
    text-align: center;
    margin-bottom:20px;
}

.mbti-result-box h2, 
.mbti-result-box h3 {
    text-align: center;
    margin: 5px 0;
}

.mbti-result-img {
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-bottom: 10px;
}

.mbti-result-img > img {
    max-width: 100%;
}

#mbti-result .mbti-dogname{
	color:#c77be6;
}


/* 매칭 화면 */
#mbti-matching {
    width: 100%;
    margin: 30px auto;
}

#mbti-matching .mbti-matching-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:30px 0 50px 0;
    flex-wrap:wrap;
}

.mbti-matching-box .box {
    width: 180px;
    height: 180px;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 5px 10px 0 rgba(77, 79, 109, 0.37);
    display: inline-block;
}

.mbti-matching-box .box a {
    display: block;
    text-decoration: none;
    color:black
}

.mbti-matching-box .box .photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow:hidden;
    border-radius: 20px;
    position:relative;
}

.mbti-matching-box .box .photo img {
    max-width: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.mbti-matching-box .box h3 {
    margin: 5px 0 0 0;
}

.btn {
	display: inline-block;
    width: 160px;
    height: 45px;
    line-height : 48px;
    border: none;
    background-color: #1abc9c;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration : none;
}

/* 모달창 */
.modal-wrapper{
	display:flex;
	align-items:center;
	justify-content:center;
	position : fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	display:none;
    z-index:9999;
	background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.modal{
	width:700px;
	/* height:150px; */
	background-color:#fff;
	z-index: 100;
	backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: white;
	max-height: 95%;
	overflow-y: auto;
}

.modal::-webkit-scrollbar{
  display:none;
}

.modal-header{
	padding:10px;
	text-align : right;
}

.modal-header > h3 {
	text-align : center;
}

.modal-content{
	padding: 20px 20px 40px 20px;
	text-align : center;
}

#mbtiBtn {
	display: block;
    margin: 0 auto;
    margin-top: 5px;
	background-color:#1abc9c;
	color:white;
	border:none;
	height:22px;
	width:80px;
	border-radius:5px;
	line-height:25px;
}

#closeModalBtn {
	background-color:white;
	color:black;
	border:none;
	height:22px;
	width:40px;
	border-radius:5px;
	line-height:25px;
	font-size:25px;
}

.swal2-container {
  z-index:100000;
}

/* 모달 속 강아지 사진 영역 */
.modal-wrapper #photo-section{
	width : 250px;
	height: 250px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.modal-wrapper .photo-box {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 100%;
    overflow: hidden;
    position:relative;
}

.modal-wrapper .photo-box > img {
    max-width: 100%;
   	position:absolute;
   	top:50%;
   	left:50%;
   	transform: translate(-50%, -50%);
}


/* 모달 속 프로필 정보 영역 */
.modal-wrapper #info-section{
	width: 650px;
	margin : 0 auto;
}

.modal-wrapper #info-section .info-box {
	width: 300px;
	display:inline-block;
	margin: 25px auto;
}

.modal-wrapper .info-box > label {
    display: inline-block;
    width: 130px;
    text-align: center;
    font-size: 14px;
}

.modal-wrapper .info-box > label > span {
	color: red;
}

.modal-wrapper .info-box > .input {
    width: 230px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
    text-align:center;
}

.modal-wrapper .info-box > .shortInput {
	width: 200px;
}

.modal-wrapper #dogType1 {
	margin: 0 auto;
}

.modal-wrapper #typeSize {
	height:30px;
	font-size: 16px;
	font-family:gs-Medium;
}

.modal-wrapper #dogType2 {
	width:180px;
	height:30px;
	margin: 0 auto;
	font-size: 16px;
	font-family:gs-Medium;
}

.modal-wrapper .btn-box {
    text-align: center;
}

.modal-wrapper .btn {
    width: 300px;
    height: 45px;
    margin-top: 30px;
    border: none;
    background-color: #1abc9c;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

/* 모달 쪽지 부분 */
.send-dm-wrap{
	width: 650px;
	margin:0 auto;
	margin-top:25px;
}
.send-dm-title{
	width:530px;
	margin:0 auto;
	text-align:left;
}

.input-box-wrap{
	width: 650px;
	display:flex;
	justify-content: center;
}
#send-dm-input{
	box-sizing:border-box;
	border: 2px solid #ccc;
	border-radius: 10px;
	height:50px;
	width:430px;
	outline:none;
}
.sendBtn{
	margin-left:5px;
	width:50px;
	color:#fff;
	background-color: #1abc9c;
	border:none;
	font-family:gs-Medium;
	border-radius: 10px;
}
.cancelBtn{
	margin-left:5px;
	width:50px;
	color:#fff;
	background-color: #1abc9c;
	border:none;
	font-family:gs-Medium;
	border-radius: 10px;
	
}
.send-dm-wrap span{
	font-family: gs-Medium;
}

.receiver{
	color:blue;
}