<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null 값이 발생하면 빈 문자열("")이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.member.model.vo.MyCalendar" alias="mc"/>
		<typeAlias type="kr.or.member.model.vo.Report" alias="report"/>
		<typeAlias type="kr.or.walk.model.vo.Walk" alias="w"/>
		<typeAlias type="kr.or.walk.model.vo.WmApply" alias="wa"/>
		<typeAlias type="kr.or.walk.model.vo.WalkMateComment" alias="wmc"/>
		<typeAlias type="kr.or.walk.model.vo.AppliedWalkInfo" alias="awi"/>
		<typeAlias type="kr.or.walk.model.vo.WalkFile" alias="wf"/>
		<typeAlias type="kr.or.chat.model.vo.RequireList" alias="rl"/>
		<typeAlias type="kr.or.market.model.vo.MarketDog" alias="md"/>
		<typeAlias type="kr.or.market.model.vo.MarketDogFile" alias="mdf"/>
		<typeAlias type="kr.or.market.model.vo.DogType" alias="dt"/>
		<typeAlias type="kr.or.board.model.vo.QnaBoard" alias="q"/>
		<typeAlias type="kr.or.board.model.vo.QnaFile" alias="qf"/>
		<typeAlias type="kr.or.board.model.vo.QnaComment" alias="qc"/>
		<typeAlias type="kr.or.dog.model.vo.Dog" alias="d"/>
		<typeAlias type="kr.or.mbti.model.vo.MbtiData" alias="mbti"/>
		<typeAlias type="kr.or.mbti.model.vo.MbtiResult" alias="mr"/>
		<typeAlias type="kr.or.dm.model.vo.DirectMessage" alias="dm"/>
		<typeAlias type="kr.or.notice.model.vo.Notice" alias="n"/>
		<typeAlias type="kr.or.notice.model.vo.NoticeFile" alias="nf"/>
		<typeAlias type="kr.or.shop.model.vo.Shop" alias="s"/>
		<typeAlias type="kr.or.chat.model.vo.ChatHistory" alias="ch"/>
		<typeAlias type="kr.or.admin.model.vo.AdminQna" alias="aq"/>
	</typeAliases>
</configuration>