*{
    font-family: gs-light;
}
content{
    width: 1200px;
    margin: 0 auto;
    flex-grow:1;
}
.adminPage-wrap{
    margin: 0 auto;
    padding: 0;
    margin-top: 200px;
}

.adminPage-main-header{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    overflow: hidden;
}
.adminPage-main-header>h1{
    font-family: gs-medium;
    text-align: center;
    margin-bottom: 60px;
}
.adminPage-link-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.adminPage-link-box>a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: gs-medium;
    color: #5e5e5e;
}
.adminPage-link-box>a:hover{
    color: #1abc9c;
    cursor: pointer;
}
.admin-main-tab{
    overflow: hidden;
    margin-top: 15px;
}
.admin-main-tab>ul{
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.admin-main-tab>ul>a{
    justify-content: space-evenly;
    height: 100px;
    width: calc(100%/3);
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #e1e1e1;
}
.admin-main-tab>ul>a:nth-child(2){
    border-bottom: 2px solid #1abc9c;
}
.admin-tab li{
    font-size: 30px;
    font-family: gs-medium;
    line-height: 3;
    color: black;
}
.adminPage-content{
    margin: 0 auto;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 80px;
}
/* 문의내역 검색창 */
.search-box{
	width:1200px;
	margin: 0 auto;
    margin-bottom : 8px;
	display:flex;
	justify-content: right;
}
.search-qnaStatus-form{
    border: 1px solid #1e1e1e;
    border-radius: 3px;
    height: 32px;
   	width : 110px;
   	font-size: 18px;
   	margin-right: 5px;
}
.adminQna-input{
    border: 1px solid #1e1e1e;
    border-radius: 3px;
    height: 30px;
    width: 180px;
    font-size: 18px;
    margin-right: 5px;
}
.search-qnaStatus-btn{
	border-radius: 3px;
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    height: 35px;
    width: 80px;
    font-size: 18px;
    color: #fff;
    font-family: gs-medium;
}
.adminPageQna-table{
    margin: 0 auto;
    width: 1200px;
    table-layout: fixed;
    word-break: break-all;
    height:auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border-top: 2px solid #1abc9c;
    border-bottom: 2px solid #1abc9c;
    overflow: hidden;
    text-align: center;
}
.adminPageQna-table tr{
    border-bottom: 1px solid #e1e1e1;
}
.adminPageQna-table tr:last-child{
	border: none;
}
.adminPageQna-table th{
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.adminPageQna-table td{
    padding: 15px;
    height: auto;
    text-align: center;
    font-size: 18px;
}
.adminPageQna-table tr th{
    background-color: #1abc9c;
	font-family: gs-medium;
	color: #fff;
}
.adminPageQna-table th,td:first-child{
	width: 5%;
}
.adminPageQna-table th,td:last-child{
	width: 7%;
}
.adminPageQna-table th,td:nth-child(2){
    width: 50%;
}
.admin-qna-row button{
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: gs-medium;
    border: 1px solid #1abc9c;
    border-radius: 3px;
    background-color: #1abc9c;
    color: #fff;
}
.admin-qna-row button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #1abc9c;
}
/* 더보기 버튼 */
.adminQna-add-btn{
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#adminQnaAjax-btn{
	background-color: transparent;
    border: none;
    font-family: gs-medium;
    font-size: 20px;
}
#adminQnaAjax-btn:hover{
	color: #1abc9c;
}

/* 신고목록 css*/

.reportPage-content{
    margin: 0 auto;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 80px;
}
.admin-report-table{
    margin: 0 auto;
    width: 1200px;
    table-layout: fixed;
    word-break: break-all;
    height:auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border-top: 2px solid #1abc9c;
    border-bottom: 2px solid #1abc9c;
    overflow: hidden;
    text-align: center;
}
.admin-report-table tr{
    border-bottom: 1px solid #e1e1e1;
}
.admin-report-table tr:last-child{
	border: none;
}
.admin-report-table th{
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.admin-report-table td{
    padding: 15px;
    height: auto;
    text-align: center;
    font-size: 18px;
}
.admin-report-table tr th{
    background-color: #1abc9c;
	font-family: gs-medium;
	color: #fff;
}
.report-select{
    width: 100%;
    height: 35px;
    font-size: 15px;
}
.admin-report-table th,td:first-child{
	width: 5%;
}
.admin-report-table th,td:nth-child(4){
    width: 50%;
}
.admin-report-table th,td:nth-child(6){
    width: 10%;
}
.adminAnswer{
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: gs-medium;
    border: 1px solid #1abc9c;
    border-radius: 3px;
    background-color: #1abc9c;
    color: #fff;
}
.adminAnswer:hover{
    cursor: pointer;
    background-color: #fff;
    color: #1abc9c;
}

/* 더보기 버튼 */
.admin-report-add{
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#adminReportAjax-btn{
	background-color: transparent;
    border: none;
    font-family: gs-medium;
    font-size: 20px;
}
#adminReportAjax-btn:hover{
	color: #1abc9c;
}
/* 회원 등급 조회 */
.userLevel-content{
    margin: 0 auto;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 80px;
}
.adminPage-userLevel-table{
    margin: 0 auto;
    width: 1200px;
    table-layout: fixed;
    word-break: break-all;
    height:auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border-top: 2px solid #1abc9c;
    border-bottom: 2px solid #1abc9c;
    overflow: hidden;
    text-align: center;
}
.adminPage-userLevel-table tr{
    border-bottom: 1px solid #e1e1e1;
}
.adminPage-userLevel-table tr:last-child{
	border: none;
}
.adminPage-userLevel-table th{
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.adminPage-userLevel-table td{
    padding: 15px;
    height: auto;
    text-align: center;
    font-size: 18px;
}
.adminPage-userLevel-table tr th{
    background-color: #1abc9c;
	font-family: gs-medium;
	color: #fff;
}
.changeLevel-select{
    width: 100%;
    height: 35px;
    font-size: 15px;
}
.adminPage-userLevel-table th,td:first-child{
	width: 5%;
}
.adminPage-userLevel-table th,td:nth-child(2){
    width: 50%;
}
.adminPage-userLevel-table th,td:nth-child(5){
    width: 7%;
}
.adminChangeLevel{
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: gs-medium;
    border: 1px solid #1abc9c;
    border-radius: 3px;
    background-color: #1abc9c;
    color: #fff;
}
.adminChangeLevel:hover{
    cursor: pointer;
    background-color: #fff;
    color: #1abc9c;
}
/* 더보기 버튼 */
.admin-memberList-add{
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#adminMemberAjax-btn{
	background-color: transparent;
    border: none;
    font-family: gs-medium;
    font-size: 20px;
}
#adminMemberAjax-btn:hover{
	color: #1abc9c;
}
/* 검색창 */
.member-search-box{
	width:1200px;
	margin: 0 auto;
    margin-bottom : 8px;
	display:flex;
	justify-content: right;
}
.search-member-form{
    border: 1px solid #1e1e1e;
    border-radius: 3px;
    height: 32px;
   	width : 110px;
   	font-size: 18px;
}
.search-input{
    border: 1px solid #1e1e1e;
    border-radius: 3px;
    height: 30px;
    width: 180px;
    font-size: 18px;
}
.search-btn{
	border-radius: 3px;
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    height: 40px;
    width: 80px;
    font-size: 18px;
    color: #fff;
    font-family: gs-medium;
}