.wm-attend-profile-wrap{
	margin-top: 20px;
	min-height: calc(100vh - 230px);
}

.wm-attend-profile-content{
	margin-bottom: 100px;
}

.wm-attend-profile-content>p{
	margin-top: 50px;
	font-size: 24px;
}

.attend-person-one{
	margin-top: 30px;
}

.attend-profile-top{
	width: 475px;
	overflow: auto;
}

.attend-nicname{
	width: 150px;
	margin-right: 25px;
	overflow: auto;
	float: left;
}

.attend-nicname>p:nth-child(1){
	color: #1abc9c;
	float: left;
}

.attend-nicname>p:nth-child(2){
	float: right;
}

.page-link-box{
	width: 300px;
	overflow: auto;
	float: right;
}

#wm-leave{
	float: left;
}

#view-profile{
	float: right;
}

.page-link-box a{
	color: black;
	text-decoration: none;
}

.page-link-box a:hover{
	color: #1abc9c;
}

.page-link-box a:visited{
	color: black;
}

.page-link-box a:visited:hover{
	color: #1abc9c;
}

.attend-person-one{
	width: 475px;
	overflow: auto;
}

.attend-person-one>div{
	float: left;
}

.attend-profile-main{
	width: 475px;
	overflow: auto;
	display: flex;
}

.attend-img-box{
	width: 148px;
	height: 148px;
	margin-right: 25px;
	overflow: hidden;
	border: 1px solid #e1e1e1;
}

.attend-img-box>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.attend-intro{
	width: 258px;
	height: 108px;	
	overflow: auto;
	padding: 20px;
	border: 1px solid #e1e1e1;
}