@charset "UTF-8";

.dm-list-wrap{
	width:100%;
	height:550px;
	background-color: #DDD7CB;
	opacity: 50%;
	padding: 10px;
	overflow: scroll;
	overflow-x:hidden;
}

.list-title{
	width:100%;
	height:30px;
	line-height: 30px;
}
.list-title span{
	font-family:gs-Bold;
	display:inline-block;
	text-align: center;
}
.dm-content-wrap{
	width:100%;
	height:400px;
}
.dm-content{
	width:100%;
	height:30px;
	line-height: 30px;
}
.dm-content span{
	display:inline-block;
	text-align: center;
	cursor:pointer;
}
.dmContent{
	overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    vertical-align: middle;
}
.list-one-wrap:hover{
	background-color: #ccc;
	transition-duration: 0.5s;
	font-size: 1.1em;
	box-shadow: 0 1px 3px 0 rgba( 31, 38, 135, 0.37 );
}
.search-wrap{
	display:flex;
	align-items: center;
	justify-content:flex-start;
	height:30px;
	width:300px;
}

#searchKeyword{
	font-family:gs-Light;
	width:100px;
	box-sizing: border-box;
}
#select-box{
	cursor:pointer;
	font-family:gs-Medium;
}
#select-box option{
	cursor:pointer;
	height:80px;
}

#searchList{
	cursor:pointer;
	width:30px;
	height:20px;
	font-family:gs-Light;
	color:#fff;
	background-color: #1abc9c;
	border:none;
}
