@charset "UTF-8";
@charset "UTF-8";
*{
	list-style: none;
	margin:0;
	padding:0;
	font-family:gs-light;
}

.header a{
    color:white;
    text-decoration:none;
    display : block;
}

.header-wrap{
    position: fixed;
    top:0;
    height:80px;
    width:100vw;
    margin: 0 auto;
    z-index: 9999;
}
.header{
    display: flex;
    justify-content: right;
    /*
    width:100vw;
    min-width: 100rem;
    */
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
    background-color:#1abc9c;
}
.header>ul{
    height: 45px;
    width:150px;
    font-size : 15px;
    font-weight: 500;
    line-height: 80px;
    cursor: pointer;
}
.header>li>img{
    height:45px;
    cursor: pointer;
}
`
#logo-wrap{
    width:150px;
    display : flex;
    justify-content: center;
    align-items: center;
}
#logo-wrap>a>img{
	width: 30px;
}

.menu-panel{
    display:flex;

}
.menuwrap>div:hover{
    animation-name: ani1;
    animation-duration: 8s;
    animation-fill-mode:forwards;
}
.menuwrap{
    height:40px;
    overflow: hidden;
}
.menuwrap>div>li>a{
	color:#fff;
}

.signwrap{
    width: 150px;
    height: 200px;
    display: inline-block;
}


.search-sub>li{
    display: flex;
    height: 100px;
    width:100px;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin:5px;
    margin-top:10px;
    cursor: pointer;
}
.search-sub>li>a{
    font-family: lemon;
    font-size:20px;
    color: #fff;
}

.login{
    line-height: 45px;
    font-size: 11px;
    font-family: ns-Medium;
}

.signin{
    margin-left: 20px;
    line-height: 45px;
    font-size: 11px;
    font-family: ns-Medium;
}
.logout{
	line-height: 45px;
    font-size: 11px;
    font-family: ns-Medium;
}
.font{
    cursor: pointer;
	margin:10px;
    width:100px;
    height:20px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: 800;
    font-style:italic;
    border-radius: 30px;
    color: rgb(100,97,97);
}
