@charset "UTF-8";
html {
    overflow: hidden;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
.section {
    width: 100%;
    min-width: 100rem;
    height: 100%;
}

#section1 {
    background-image: url(/img/main2.jpg);
    background-size:100%;
    display:flex;
    justify-items: center;
    align-items: center;
}
#section1_detail{
    width:100%;
}

#section2 {
	background-image: url(/img/main-img2.png);
	background-size:150% 44%;
	background-position:150px 100px;
	background-repeat:no-repeat;
    background-color: rgb(33,33,33);
}

#section3 {
    background-color: aliceblue;
}
.section2-box{
	position:relative;
    display:inline-block;
}