@charset "UTF-8";

input::placeholder {
  font-family : gs-Medium;
}
textarea::placeholder {
  font-family : gs-Medium;
}

input, button, #photoBtn {
	font-family:gs-Medium;
	outline:none;
}

/* 내 정보 */
.myprofile {
    position: relative;
    width: 100%;
    /* background-color: rebeccapurple; */
}

.myprofile > h1 {
   position: absolute;
   top: 20px;
   left: 0;
}

/* 프로필 사진 영역 */
#photo-section {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 0;
    /* background-color: rebeccapurple; */
}

#photo-section #photoBtn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.photo-box {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 100%;
    overflow: hidden;
}

.photo-box > img {
    max-width: 100%;
}

.photo-box > label {
	display:block;
}


/* 프로필 정보 영역 */
#info-section {
    width: 650px;
    position: absolute;
    top: 90px;
    right: 0;
    /* background-color: green; */
}

.box {
    height: 40px;
    margin-bottom: 15px;
}

.box > label {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 14px;
}

.box > label > span {
	color: red;
}

.box > .input {
    width: 230px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}

/* 자기소개 및 버튼 영역 */

#last-section {
    width: 650px;
    position: absolute;
    top: 330px;
    left: 0;
    /* background-color: rebeccapurple; */
}

.intro-box{
    height: 50px;
    margin-bottom: 50px;
}

.intro-box > label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.intro-box > textarea {
    border: 1px solid #ccc;
    width: 650px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    resize: none;
    padding: 10px;
	font-family:gs-Medium;
}

.btn {
    width: 300px;
    height: 45px;
    margin-top: 30px;
    border: none;
    background-color: #1abc9c;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.comment {
    font-size: 12px;
    color: red;
    padding: 5px;
}

#nameComment {
	display:inline-block;
}

#phoneComment {
	display:block;
}

.verifyBox {
	width:300px;
	height:30px;
	margin:0 auto;
}

.verifyInput {
	width:100px;
}

#timeZone {
	display:inline-block;
	width: 70px;
}

.verifyMsg {
	margin:5px 0;
	display:block;
}

.btn-box {
    text-align: center;
}

.link-box {
    text-align: right;
}

.link-box > a {
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #616568;
}

.link-box > a:hover {
    text-decoration: underline;
}



/* 전화번호 모달창 */

.modal-wrapper{
	position : fixed;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	top:0;
	left:0;
	display:none;
	justify-content:center;
	align-items:center;
}

.modal{
	width:350px;
	min-height:150px;
	background-color:#fff;
}

.modal-header{
	padding:10px;
	text-align : right;
	/*color : #1abc9c;*/
}

.modal-content{
	padding: 0px 20px 40px 20px;
	text-align : center;
}