.content-wrap{
	display: flex;
}

.content{
	width: 620px;
	margin-top: 180px;
	margin-bottom: 100px;
}

.left{
	width: calc(calc(100% - 620px) / 2);
}

.right{
	width: calc(calc(100% - 620px) / 2);
	height: 100%;
	margin-top: 516px;
	margin-bottom: 100px;	
	margin-left: 100px;
}

.person-profile, .dog-profile{
	overflow: auto;
}

.photo-box{
    width: 198px;
    height: 198px;
    float: left;
    overflow: hidden;
    border: 1px solid black;
}

.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person-intro{
	width: 398px;
    height: 198px;
    float: right;
    border: 1px solid black;
}

.dog-profile{
	margin-top: 50px;
}
	
.dog-info{
	overflow: auto; 
}
	
.dog-info>table{
    width: 400px;
    height: 200px;
    float: right;
	border: 1px solid black;
    border-collapse: collapse;
}

.dog-info>table th, .dog-info>table td{
	text-align: center;
	border: 1px solid black;
}

.dog-info>table th{
	width: 150px;
}

.dog-introduce{
	width: 618px;
    height: 198px;	
    margin-top: 20px;
    border: 1px solid black;
    float: left;
}

.dog-list{
	width: 150px;
	overflow: auto; 
}

.dog-list>table{
	width: 100%;
	border: 1px solid black;
    border-collapse: collapse;
}

.dog-list>table th, .dog-list>table td{
	text-align: center;
	border: 1px solid black;
}

.dog-list>table th{
	background-color: #1abc9c;
}

.before-link-box{
	margin-top: 20px;
	text-align: right;
}