/* 전체  */
.profile-content-wrap{
	display: flex;
	font-family:gs-Medium;
}

/* 왼쪽  */
.profile-left{
	width: calc(calc(100% - 620px) / 2);
}

/* 가운데  */
.profile-content{
	width: 620px;
	min-height: calc(100vh - 410px);
	margin-top: 120px;
	margin-bottom: 50px;
}

.person-profile, .dog-profile{
	overflow: auto;
}

.profile-header{
	display: flex;
	justify-content: space-between;
}

#report-modal-open{
	cursor: pointer;
}

#report-modal-open:hover{
	color: red;
}

.profile-photo-box{
    width: 198px;
    height: 198px;
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 100%;
    position:relative;
    margin-top:20px;
}

.profile-photo{
    max-width: 100%;
    position:absolute;
   	top:50%;
   	left:50%;
   	transform: translate(-50%, -50%);
}

.person-id {
    margin-top:20px;
}

.person-id, .person-city{
	width: 390px;
	margin-left: 30px;
	margin-bottom: 30px;
	float: right;
}

.person-id>p, .person-city>p{
	float: left;
	line-height: 20px;
}

.person-id>p>b, .person-city>p>b{
	display:block;
	line-height: 20px;
}

.person-id>p:nth-child(1), .person-city>p:nth-child(1){
	width: 100px;
}

.person-intro>p{
	width: 390px;
	float: right;
}

.person-intro>p>b{
	display:block;
	line-height: 20px;
	margin-bottom:10px;	
}

.person-intro>div{
	width: 370px;
    height: 50px;
    float: right;
    border: 1px solid #ccc;
    overflow: auto; 
    border-radius: 10px;
    padding:10px;
    
}

.dog-profile{
	margin-top: 50px;
	display: none;
}
	
.dog-info{
	overflow: auto; 
    margin-top:20px;
}
	
.dog-info>table{
    width: 390px;
    height: 200px;
    float: right;
    border-collapse: collapse;
}


.dog-info>table th, .dog-info>table td{
	text-align: center;
}

.dog-info>table th{
	width: 150px;
}

.before-link-box{
	margin-top: 80px;
	text-align: right;
}

.before-link{
	color: black;
	text-decoration: none;
}

.before-link:hover{
	color: #1abc9c;
}

.before-link:visited{
	color: black;
}

.before-link:visited:hover{
	color: #1abc9c;
}

/* 오른쪽  */
.profile-right{
	width: calc(calc(calc(100% - 620px) / 2) - 100);
	height: 100%;
	margin-top: 450px;
	margin-bottom: 80px;	
	margin-left: 100px;
}

.dog-list{
	width: 150px;
	overflow: auto; 
    margin-top:20px;
}

.dog-list>table{
	width: 100%;
	border: 1px solid #ccc;
    border-collapse: collapse;
}

.dog-list>table th, .dog-list>table td{
	text-align: center;
	border: 1px solid #ccc;
	height:40px;
}

.dog-list>table td>a{
	color: black;
	text-decoration: none;
}

.dog-list>table td>a:hover{
	color: #1abc9c;
}

.dog-list>table td>a:visited{
	color: black;
}

.dog-list>table td>a:visited:hover{
	color: #1abc9c;
}

.dog-list>table th{
	background-color: #1abc9c;
}

/* 신고 모달  */
.report-modal{
	width: 0;
	height: 0;	
	position: fixed;
	
	margin: 0 auto;
	left: 0;
	right: 0;
	
	display: flex;
	justify-content: center;
    align-items: center;
    
    z-index: 9999;
    
    overflow: hidden;
    
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);
    font-family:gs-Medium;
}
