body, button{
    padding: 0;
    margin: 0;
    font-family: gs-Medium;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #1abc9c;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color:#DDD7CB;
    border-radius:10px;
}
#walk-mate-content{
    width: 1400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
#walk-mate-content .top{
    border: 1px solid black;
    height: 200px;
    width: 100%;
}
.content-top{
    width: 500px;
    margin: 0 auto;
    padding: 0;
}
.walkmate-tab{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.walkmate-tab>li{
    float: left;
    border-bottom: 2px solid #e1e1e1;
    width: 250px;
    height: 80px;
    text-align: center;
}
.walkmate-tab>li:first-child{
    border-bottom: 2px solid #1abc9c;
}
.walkmate-tab>li:hover{
    border-bottom: 2px solid #1abc9c;
    cursor: pointer;
}
.walkmate-tab h1{
    font-family: gs-Medium;
}
.walkmate-tab a{
    font-family: gs-Medium;
    text-decoration: none;
    color: black;
}
.content-top p{
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: gs-Medium;
}
.walkmate-category{
    padding: 0;
}
.walkmate-category li{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid #1abc9c;
    width: 120px;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
}
.walkmate-category li{
    cursor: pointer;
}
.walkmate-category li:first-child{
    background-color: #1abc9c;
    color: rgb(255, 255, 255);
}


.content-bottom{
    margin-top: 20px;
}
.content-box{
    width: 650px;
    height: 230px;
    margin: 0 auto;
    border-radius: 28px;
    border-width: 0px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 18%) 1px 1px 10px 0px;
    margin-bottom: 40px;
    background-color: #fff;
    display: inline-block;
    margin-right: 30px;
}
.content-box:hover{
	box-shadow: rgb(0 0 0 / 18%) 2px 2px 20px 0px;
	cursor : pointer;
}
.content-box:hover .user-profil li span{
	-webkit-transform: rotateX(180deg);
    transform: rotateY(180deg);	
}
.content-box-list{
    float: left;
}
.content-box .img{
    width: 150px;
    height: 230px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: left;
    overflow: hidden;
}
.content-box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-box:hover .img img{
    transform: scale(1.05);
    object-fit: cover;
    transition: all 0.3s linear;
}
.content-box .titles{
    padding-top: 15px;
    padding-left: 50px;
    overflow: hidden;
}

.content-box .titles a{
    width: 100px;
    height: 23px;
    display: block;
    line-height: 27px;
    text-decoration: none;
    color: #fff;
    background-color: #DDD7CB;
    border-radius: 15px;
    font-size: 15px;
    
}
.content-box .titles h2{
    font-family: gs-Medium;
    font-size: 24px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 370px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.content-box .titles .titles-sub{
    text-align: left;
    color: gray;
    font-size: 15px;
    margin-top: 10px;
    width: 330px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.content-box .titles .titles-info{
    text-align: left;
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    vertical-align: middle;
}
.content-box .titles .titles-info span{
    text-align: left;
    color: gray;
    font-size: 20px;
    vertical-align: middle;
}
.content-box .titles .titles-info span:last-child{
	margin-left:5px;
}
.user-profil{
    text-align: left;
    padding: 0;
    margin-top: 25px;
    font-size: 14px;
    color: #9c9c9c;
    line-height: 46px;
}
.user-profil li{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: gray;
    width: 39px;
    height: 39px;
    display: inline-block;
    border-radius: 50px;
    margin-right: 10px;
    overflow: hidden;
    line-height: 46px;
    text-align: center;
    font-size: 13px;
}
.user-profil li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-profil li span{
	font-size: 38px;
	color: #9c9c9c;
	transition: .5s;
}

#modal{
    z-index: 100;
}
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 80px;
    padding-bottom: 700px;
}
#modal .modal-window {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: white;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 21px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 800px;
    height: auto;
    background-color: rgb(244, 244, 244);
    position: relative; 
}
#modal .close-area {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    font-size: 17px;
}
#modal .modal-window .modal-window-top{
    height: 250px;
    width: 100%;
    background-color: rgb(244, 244, 244);
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    posi
    overflow: hidden;
}
.modal-window-top{
    position: absolute;
    z-index: 100;
    text-align: center;
    overflow: hidden;
    height: 200px;
    width: 800px;
}
.modal-window-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-window-middle{
    background-color: rgb(244, 244, 244);
    width: 800px;
    margin-top: 200px;
    height: 150px;
    position: relative;
}
.modal-window-middle .modal-writer-profil{
    border: 2px solid white;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    background-color : white;
    top: -90px;
    left: 355px;
    z-index: 103;
}
.modal-window-middle .modal-writer-profil img{
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}
.modal-window-middle .modal-writer-content-box{
    width: 95%;
    height: 155px;
    background: white;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 21px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    z-index: 102;
    top: -30px;
    left: 2.5%;
}
.modal-window-middle .modal-writer-content-box .writer-id{
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
}
.modal-window-middle .modal-writer-content-box h2{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 25px;
    overflow: hidden;
}
.modal-window-middle .modal-writer-content-box input{
    text-indent: 40px;
    margin-top: 20px;
    width: 97%;
    border-radius: 8px;
    border:none;
    font-weight: 300;
    padding: 10px;
    padding-top: 0px;
    font-size: 25px;
    font-family: gs-Medium;
}
.modal-window-middle .modal-writer-content-box input:focus{
    outline: none;
}
.modal-window-bottom{
    background-color: rgb(244, 244, 244);
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    width: 740px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}
.modal-window-bottom .bottom-info{
    font-size: 14px;
    margin-bottom: 40px;
}
.modal-window-bottom .bottom-info span{
	color: #FF4C4C;
	margin-left : 10px;
	vertical-align: middle;
}
.modal-window-bottom .place-info-btn{
    background-color: #1abc9c;
    color: white;
    border: none;
    padding:none;
    height: 22px;
    width: 60px;
    border-radius: 5px;
    line-height: 25px;
    font-family: gs-medium;
    font-size: 13px;
    margin-bottom: 40px;
}
.modal-window-bottom .bottom-content{
    margin:10px;
    
    font-size: 15px;
    text-align: left;
}
.modal-window-bottom .bottom-content #view-section3{
    margin-bottom: 40px;
    margin-left: 30px;
    width: auto;
    height: auto;
}
.modal-window-bottom .bottom-content textarea{
    margin-bottom: 40px;
    margin-left: 30px;
    width: 630px;
    height: 230px;
    border-radius: 8px;
    padding:25px;
    font-size: 15px;
    /*resize : vertical;*/
    resize: none;
    border: 1px solid #9c9c9c !important;
    font-family: gs-Medium;
}
.input-img-contents-title{
    margin-left: 30px;
    margin-bottom: 10px;
}
.input-img-contents{
    /* margin-bottom: 20px; */
    margin-left: 30px;
    width: 630px;
    height: 140px;
    border-radius: 8px;
    font-size: 15px;
    font-family: gs-Medium;
    line-height: 180px;
}

.input-img-contents .preview-box{
    height: 130px;
    width: 130px;
    border: 1px solid rgb(156,156,156);
    display: inline-block;
    margin-bottom: 20px;
}
.preview-box{
	cursor:pointer;
	width:130px;
	height:130px;
	border:1px solid #ccc;
    background-color: white ;
	overflow: hidden;
	position: relative;
	margin-right:10px;
	box-shadow: 0 3px 3px 0 rgba( 31, 38, 135, 0.37 );
}
.preview{
	width:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.input-btn{
	font-size:50px;
	width:100%;
	height:100%;
	text-align: center;
	line-height:140px;
	color:rgb(156,156,156);
    font-family: gs-Light;
}

.modal-window-bottom .bottom-content-btn{
    text-align: center;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.modal-window-bottom .bottom-content-btn .input-main-btn{
    width: 400px;
    height: 50px;
    border: 2px solid #1abc9c;
    background-color: #1abc9c;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-right: 15px;
    float: left;
    font-family: gs-medium;
}
.modal-window-bottom .bottom-content-btn .next-btn-member{
    width: 110px;
    height: 50px;
    border: 2px solid #1abc9c;
    background-color: white;
    border-radius: 10px;
    color: #1abc9c;
    cursor: pointer;
    font-size: 14px;
    font-family: gs-medium;
    float: left;
}
.info-titles{
    color: #ff4c4c;
    font-size: 14px;
    margin-bottom: 10px;
}

.member-info .sub{
    font-family: gs-Medium;
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}
.member-info-ul{
    margin:0 auto;
    list-style: none;
    padding:0;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    overflow: scroll;
    overflow-x: hidden;
}
.member-info-ready-ul{
    margin:0 auto;
    list-style: none;
    padding:0;
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
}
.member-info-list{
    width: 100%;
    height: 105px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.member-info-list div{
    float: left;
}
.member-info-list .member-info-profil{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    overflow: hidden;
}
.member-info-list .member-info-profil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.member-info-list .member-info-profil span{
	text-align: left;
    color: #ff4c4c;
    font-size: 85px;
    font-family : gs-Light
    vertical-align: middle;
}
.member-info-list .member-info-id{
    width: 500px;
    height: 50px;
    color: #9c9c9c;
    margin: 20px;
    margin-top: 21px;
    margin-bottom: 19px;
    font-size: 15px;
}
.member-info-list .member-info-id span{
    display: block;
    text-align: left;
    font-size: 19px;
    margin-bottom: 10px;
    color: black;
    font-weight: 800;
}
.mate-info-list{
    margin-bottom: 40px;
}
.mate-info-list li{
	margin-bottom: 7px;
}
.mate-info-list li span{
    text-align: left;
    color: #ff4c4c;
    font-size: 20px;
    vertical-align: middle;
    margin-left : 13px;
}



.write-content-input-box{
    width: 300px; 
    height: 60px;
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 15px;
}
.write-content-input-box .back-time-btn{
	background-color: #1abc9c;
    border: 1px solid #dddddd !important;
    color: white;
    width: 50px;
    height: 40px;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    border-radius: 8px;
    padding-top: 13px;
    padding-bottom: 7px;
    margin-top: -5px;
    vertical-align: middle;
}
.write-content-input-box label{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 14px;
    padding: 0 10px;
    background: none;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.write-content-input-box label span{
    color: #da4841;
    vertical-align: -1px;
}
.write-content-input-box input{
    width:150px;
    border: 1px solid #dddddd !important;
    height: 20px;
    font-size: 14px;
    line-height: 1.45;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom : 7px;
    margin-top: 10px;
    font-family: gs-Medium;
}
.write-content-input-box select{
    width: 150px;
    border: 1px solid #dddddd !important;
    height: 42px;
    font-size: 16px;
    line-height: 1.45;
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom : 7px;
    margin-top: 10px;
    font-family: gs-Medium;
}
.write-content-input-box input:focus{
	outline: none;
}
.adressBtn{
	background-color: #1abc9c;
    border: 1px solid #dddddd !important;
    color: white;
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    text-align:center;
    border-radius: 8px;
    padding-top: 13px;
    padding-bottom : 7px;
    margin-top: -5px;
	vertical-align: middle;
}
.write-content-input-box:nth-child(2){
	width:150px;
}
.write-content-input-box:nth-child(2) input{
	width:100px;
}
.write-content-input-box:nth-child(3){
	width:200px;
}
.write-content-input-box:nth-child(3) input{
	width:130px;
}
.write-content-input-box:focus-within label{
	font-size: 15px;
	top:0px;
	transition-duration: 0.3s;
}

.input-tag-contents {
    padding: 15px 10px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.input-tag-contents input[type=radio]{
    display: none;
}
.input-tag-contents input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 30px;
    color: #1abc9c;
    border: 1px solid #1abc9c;
    background-color: #fff;
    border-radius: 10px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
}
.input-tag-contents input[type=radio]:checked+label{
    background-color: #1abc9c;
    color: #fff;
}
.write-new-content-btn button{
    width: 100px;
    height: 30px;
    background-color: #1abc9c;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    border: 2px solid #1abc9c;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
    margin-left: 1235px;
    /* font-family: gs-Light; */
}
/* .write-new-content-btn button:hover{
    text-decoration: underline;
} */

#writeDate, #writeTime, #writeDate-label, #writeTime-label{
	transition-duration : 0.5s;	
}
#write-section6{
	font-size: 15px;
	color: #808080;
	text-indent: 60px;
	width: 600px;
	margin-top: 20px;
}
#write-section3 span{
    color: rgb(218, 72, 65);
}

.apply-content-box{
	height : 300px;
}

.member-info-ready-list{
  width: 100%;

}
.member-info-ready-list{
	position: relative;
    display: inline-block;
}
.member-info-ready-list div{
	display: inline-block;
	width:85px;
	margin-right:10px;
	position: relative;
}
.member-info-ready-profil{
  display: flex;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50px;
  float: left;
  cursor: pointer;
}
.member-info-ready-profil img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow_box {
  display: none;
  position: absolute;
  width: 80px;
  padding: 8px;
  left: 0;
  top: 100px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color:#DDD7CB;
  color: #000;
  font-size: 14px;
  text-align: center;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 30%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(221, 215, 203, 0);
  border-bottom-color: #DDD7CB;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}
.member-info-ready-profil:hover + p.arrow_box{
	display: block;
}

.comment-box-wrapper{
	width: 95%;	
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	overflow-y: scroll;
}
.comment-box-wrapper .input-comment-box{
	height: 70px;
	margin-bottom: 20px;
}
.comment-box-wrapper .input-comment-box-view{
	height: 80px;
	margin-bottom: 20px;
}


.input-comment-writer-profil{
	height: 70px;
	width: 70px;
	border-radius: 100px;
	overflow: hidden;
	float: left
}
.input-comment-writer-profil img{
	width: 100%;
	height: 100%;
	object-fit: cover;	
}
.input-comment-writer-comment{
	height: 70px;
	width: 580px;
	overflow: hidden;
	float: left;
}
.input-comment-writer-comment input{
	font-size: 15px;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 8px;
	width: 480px;
	overflow: hidden;
	font-family: gs-Medium;
	background-color: rgb(244, 244, 244);
	border: none;
	float: left;
}
.comment-box-wrapper .input-comment-box .input-comment-writer-comment input:focus{
	outline: none;
}
.comment-box-wrapper .input-comment-box .input-comment-writer-comment button{
	margin-top: 8px;
	font-family: gs-Medium;
	border: none;
	background-color: rgb(244, 244, 244);
	font-size: 16px;
	width: 58px;
	height: 60px;
	float: left;
	opacity: 0;
	cursor: none;
}
.comment-box-wrapper .input-comment-box .input-comment-writer-comment input:focus + button{
	opacity: 1;
	transition-duration: 0.5s;
}
.comment-member-view{
    width: 500px;
    height: 70px;
    color: #9c9c9c;
    margin: 20px;
    margin-top: 11px;
    margin-bottom: 0px;
    font-size: 15px;
    float: left;
}
.input-main-inputs{
	width: 0; 
 height: 0;
 font-size: 0;
 line-height: 0;
}
.comment-member-view span{
    display: block;
    text-align: left;
    font-size: 19px;
    margin-bottom: 2px;
    color: black;
    font-weight: 800;
}
.comment-member-view .view-sub{
	margin-top: 5px;
	height: 19px;
	font-size: 11px;
	line-height: 19px;
	color: #9c9c9c;
}
.comment-member-view .view-sub span{
	margin-top: 5px;
	float: left;
	font-size: 11px;
	line-height: 19px;
	color: #9c9c9c;
	vertical-align: middle;
}
.comment-member-view .view-sub div{
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
}
.writers-box{
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.reviews{
	width: 600px;
	margin-left:30px;
	margin-bottom: 30px;
}
.reviews-sub{
	width: 400px;
    height: 70px;
    color: #9c9c9c;
    margin: 20px;
    margin-top: 11px;
    margin-bottom: 0px;
    font-size: 14px;
    float: left;
}
.reviews .input-comment-writer-profil{
	height: 62px;
	width: 62px;
	border-radius: 100px;
	overflow: hidden;
	float: left
}
.reviews .reviews-sub{
	margin-top: 5px;
	height: 19px;
	font-size: 14px;
	line-height: 19px;
	color: #9c9c9c;	
}
.reviews .reviews-sub span{
	display: block;
    text-align: left;
    font-size: 17px;
    margin-bottom: 2px;
    color: black;
    font-weight: 800;
    
}
.reviews-sub .view-sub span{
	height: 19px;
	font-size: 11px;
	line-height: 19px;
	color: #9c9c9c;
	margin: 0;
	vertical-align: middle;
}
.views-list{
	height: 80px;
	margin-top: 30px;
}
.reviews-sub .reviews-input{
	font-size: 15px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 370px;
	overflow: hidden;
	font-family: gs-Medium;
	background-color: rgb(244, 244, 244);
	border: none;
	float: left;
}

.reviews-sub .reviews-input:focus{
	outline: none;
}
.reviews button{
	margin-top: 8px;
	font-family: gs-Medium;
	border: none;
	background-color: rgb(244, 244, 244);
	font-size: 16px;
	width: 50px;
	height: 60px;
	float: left;
	display: inline-block;
}
.view-sub{
	margin-top: 0px;
}
.reviews-sub .view-sub span{
	margin-top: 0px;
	font-size: 11px;
	vertical-align: middle;
}
.deleteMainCommentBtn{
width: 0; 
 height: 0;
 font-size: 0;
 line-height: 0;
}
.deleteSubCommentBtn{
width: 0; 
 height: 0;
 font-size: 0;
 line-height: 0;	
}
