*{
    font-family: gs-Light;
}
content{
    width: 1200px;
}
.dogMarket-wrap{
    margin: 0 auto;
    margin-top: 200px;
    padding: 0;
    
}
.tab-header{
    width: 500px;
    margin: 0 auto;
    padding: 0;
}
.dogMarket-tab{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.dogMarket-tab>li{
    float: left;
    border-bottom: 2px solid #e1e1e1;
    width: 250px;
    height: 80px;
    text-align: center;
}
.faqqna-tab>li:first-child{
    border-bottom: 2px solid #1abc9c;
}
.faqqna-tab>li:hover{
    border-bottom: 2px solid #1abc9c;
    cursor: pointer;
}
.dogMarket-tab h1{
    font-family: gs-Medium;
}
.dogMarket-tab a{
    font-family: gs-Medium;
}
.getDog-content{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    width: 1000px;
}
.getDog-header{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    overflow: hidden;
}
.getDog-header>p{
    display: block;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-family: gs-Medium;
}
.getDog-category{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    float: center;
    display: flex;
    overflow: hidden;
}
.getDog-category>li{
    margin: 0 auto;
    padding: 0;
    border: 1px solid #1abc9c;
    float: left;
    width: 140px;
    padding: 8px;
    border-radius: 10px;
    font-family: gs-Medium;
}
.getDog-category>li:first-child{
    background-color: #1abc9c;
    color: #fff;
}
.getDog-category>li:last-child{
    margin: 0;
}
.getDog-category>li:hover{
    cursor: pointer;
    background-color: #1abc9c;
    color: #fff;
}
.saleList{
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    border-top: 2px solid #1abc9c;
}

.sale-wrap{
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	
}
.sale-box{
    padding: 24px;
    padding-top: 10px;
}

.sale{
	margin:10px;
	height: 300px;
	width: 250px;
	background-color: #1abc9c;
}

.add-btn{
    margin: 0 auto;
    padding: 30px;
    width: 100%;
    text-align: center;
}
.add-btn>button{
    border: none;
    background-color: transparent;
    font-family: gs-Medium;
    font-size: 16px;
}

/* 문의게시판 start */

.saleDog-content{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    width: 1000px;
    overflow: hidden;
}
.saleDog-header{
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    overflow: hidden;
}
.saleDog-header>p{
    padding-left: 15px;
    text-align: center;
    font-family: gs-Medium;
    animation-name:dogMarketAni;
    animation-duration:10s;
}
.write-btn-box{
    margin-top: 5px;
}
.write-btn-box>button{
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    background-color: #1abc9c;
    color: #fff;
    font-family: gs-Medium;
    font-size: large;
}
.saleDog-board{
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
    width: 100%;
}
.saleDog-table{
    width: 100%;
    height: 50px;
    border-top: 2px solid #1e1e1e;
    border-bottom: 2px solid #1e1e1e;
}

@keyframes dogMarketAni{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}