*{
    font-family: gs-Light;
}
content{
    width: 1200px;
}
.writeNotice-wrap{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
}
.writeNotice-box{
    margin: 0 auto;
    width: 1000px;
}
.writeNotice-header{
    margin: 0 auto;
    padding: 0;
    border-bottom: 2px solid #1abc9c;
    overflow: hidden;
}
.writeNotice-header>h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: gs-medium;
}
.writeNotice-header>a{
    float: left;
    padding: 10px;
    font-size: 20px;
    font-family: gs-medium;
    color: #5e5e5e;
}
.writeNotice-header>a:last-child{
    float: right;
}
.writeNotice-header>a:hover{
    color: #1abc9c;
    cursor: pointer;
}
.writeNotice-content{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 800px;
}
.notice-input-box{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.notice-input-box:first-child{
    padding-top: 10px;
}
.notice-input-box>label{
    font-size: 20px;
    font-family: gs-medium;
}
.notice-input-box>input{
    margin-top: 10px;
    padding-left: 10px;
    display: block;
    width: 750px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
}
.notice-input-box>textarea{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    display: block;
    width: 750px;
    min-height: 200px;
    border: 1px solid #5e5e5e;
    border-radius: 3px;
    resize: none;
    font-size: 18px;
}
.notice-input-box>button{
    display: block;
    margin: 0;
    margin-top: 10px;
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    color: #fff;
    font-size: 18px;
    font-family: gs-medium;
    height: 40px;
    width: 90px;
    border-radius: 5px;
}
.notice-input-box>button:hover{
    background-color: #fff;
    color: #1abc9c;
    cursor: pointer;
}
.fileZone{
    display: inline-block;
    margin-top: 10px;
}
.writeNotice-footer{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    border-top: 2px solid #1abc9c;
}
.notice-submit-btn{
    text-align: center;
    margin-top: 50px;
}

.notice-submit-btn>button{
    border: 1px solid #1abc9c;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: gs-medium;
    font-size: 20px;
    background-color: #1abc9c;
    color: #fff;
}
.notice-submit-btn>button:hover{
    cursor: pointer;
    transform: scale(1.03,1.03);
}
.notice-submit-btn>button:first-child{
    background-color: #fff;
    color: #1abc9c;
    margin-right: 5px;
}


